
* {

    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


body {

    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background: url('../assets/images/green.jpg');
    background-size: cover;
    background-position: center;
    
}


/* 1. This is the main wrapper */ 

.wrapper {

    width: 1300px; 
    min-height: 700px; 
    background:transparent;
    border: 2px solid rgba(244, 244, 253, 0.295);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color:white;
    border-radius: 10px;
    padding: 40px 40px;    
}


.formular{

    margin: 0px 40px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
   
}


.start_time{

    margin-right:60px;  
    width: 50px;
    height: 25px; 
    font-size: 15px;     
    border-radius: 5px;

    appearance: textfield;
   
}


.end_time{

    width: 50px;
    height: 25px; 
    font-size: 15px;     
    border-radius: 5px;

    appearance: textfield;    

}


/* delete and confirm buttons */
.delete_btn{

    width: 120px; 
    height: 35px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;  
    margin: 0 30px;  

}


.confirm_btn{

    width: 120px; 
    height: 35px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;    

}



















.greeting{
    
    margin: 10px 35px 30px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}


h1 {

    font-size: 36px;      

}


.duration{

    display: flex;
    align-items: center;
    
}


.duration label {

    margin-right: 10px; 
    
    
}


.totaltime {

    width: 50%;
    height: 30px; 
    font-size: 25px;     
    border-radius: 5px;

}



















.prompt {    
       
    margin: 50px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}


.date {

    display: flex;
    align-items: center;    

}


.date label {

    margin-right: 10px; 
    
}


.prompt input{

    width: 135px;
    height: 35px; 
    font-size: 18px;     
    border-radius: 5px;

}



















.task_btn {

    width: 300px; 
    height: 65px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;   
    margin: 40px; 

}


/* Hide the divs by default */
.fa {
    
    font-size: 20px;
    display: none;

}
 

.fa label{

    margin-right: 10px;  

}


.fa input {

    margin-right:20px; 
    width: 90px; 
    appearance: textfield;
    border-radius: 5px;
    height: 25px; 
    font-size: 15px;  
    
}


.montage_start_time{

    margin-right:30px;  
    width: 50px;
    height: 25px; 
    font-size: 15px;     
    border-radius: 5px;

    appearance: textfield;
   
}


.montage_end_time{

    width: 50px;
    height: 25px; 
    font-size: 15px;     
    border-radius: 5px;
    margin-right:20px;  
    appearance: textfield;    

}


.hours{

    display: none;   
    
   
}


.hours label{

    margin-right: 10px;  
    font-size: 20px;   

}


.hours_btn {

    display: none;

}



















.teammeeting_btn {

    width: 300px; 
    height: 65px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;   
    margin: 40px; 

}


.meeting_time{

    display: none;   
    margin-right: 50px;
   
}


.meeting_time label{

    margin-right: 10px;  
    font-size: 20px;   

}


.agree_btn {

    display: none;

}



















.cleanup_btn {

    width: 300px; 
    height: 65px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;   
    margin: 40px; 

}


.cleanup_time{

    display: none;   
    margin-right: 50px;
   
}


.cleanup_time label{

    margin-right: 10px;  
    font-size: 20px;   

}


.cleanup_agree_btn {

    display: none;

}




















/* This is the checklist, to check if everything is ok before saving*/

.check-btn {   
    
    position: absolute;
    bottom: 15px; 
    right: 50px;    
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}




.check-text {
    color: white;
    text-decoration: underline;
}


.check {
    width: 40px; 
    height: 40px; /* Mantiene la proporción */
    
}


.check_wrapper {  
        
    display: none;    
    position: relative;
    width: 80%;  
    height: 74%; 
    top: 10%;
    left: 10%;
    background: white;
    color: black; /* Cambiado para que el texto sea visible sobre fondo blanco */
    border-radius: 3px;
    overflow-y: scroll;    
    flex-direction: column; /* Alinea elementos en una columna */
        
}
















