
* {
      
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 

}

.icon-small {

    width: 24px; 
    height: 24px; 
    filter: brightness(0) invert(1); 

}

.input-box {
    
    display: flex;           
    align-items: center;     
 
}

body {

    display: flex; 
    justify-content: center;
    align-items: center; 

    min-height: 100vh; background: url('../assets/images/green.jpg'); /* Sets an image located at 'Images/e.png' as the background. */
    
    background-size: cover;
    background-position: center; 
    
}

.wrapper {

    width: 455px; 
    background:transparent; 
    border: 2px solid rgba(244, 244, 253, 0.295); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color:white;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 0 10px;

}

.wrapper h1 {
    
    font-size: 36px; 
    text-align: center; 
    
}

.wrapper .input-box {

    position: relative; 
    width: 100%; 
    height: 50px; 
    margin: 30px 0; 

}

.input-box input {

    width: 100%; 
    height: 100%; 
    background: transparent; 
    outline: none; 
    border: 2px solid rgba(244, 244, 253, 0.363); /* This property adds a border to the input field that is 2 pixels wide, solid, and has a color defined by the RGBA value. The color is white with 20% opacity (0.2), which gives a subtle and elegant border effect. */ 
    border-radius: 40px; 
    font-size: 16px; 
    color: #fff; 
    padding: 20px 45px 20px 20px; 

}

.input-box input::placeholder {

    color: rgb(255, 255, 255); 
    opacity: 1; 
    
}
.input-box img {

    position:absolute; 
    right: 20px; 
    font-size: 20px; 

 }

 .wrapper .remember-forgot {

    display: flex; 
    justify-content: space-between; 
    font-size: 14.5px; 
    margin: 30px 0 30px; 

}

.remember-forgot label input {

    accent-color: #fff; 
    
}

.wrapper .btn {

    width: 100%; 
    height: 45px; 
    background: #fff; 
    border: none; 
    outline: none; 
    border-radius: 40px; 
    box-shadow: 0 0 10px rgba(0,0,0,.1); 
    cursor: pointer; 
    font-size: 16px; 
    color: #333; 
    font-weight: 600; 
    
}

.wrapper .login-link {

    font-size: 14.5px; 
    text-align: center; 
    margin: 30px 0 20px;

}

.login-link p a {

    color: #fff; 
    text-decoration: none; 
    font-weight: 600;

}

.login-link p a:hover {
    
    text-decoration: underline; 

}

@media (max-width: 576px) {

    .input-box .input-field{
    
        width:100%;
        margin: 10 px 0;
    
    }
    
    
}