
/* EXPLAINED IN THE login.css FILE */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}







.icon-flag {

    width: 20px;  /* Adjust the width */
    height: 14px; /* Adjust the width */
    vertical-align: middle; /* Adjust vertical alignment */
    align-items: center;
   
}



/* Esta es la caja que contiene el logo principal para seleccionar el idioma */

.selected-lang {

    border-radius: 4px;    
    background: transparent; 
    border: 2px solid rgba(232, 232, 236, 0.795);
    text-align: center;
    align-items: center; 

}


.selected-lang a {

    display: flex;   
    color: #fff;             
    text-decoration: none;
    align-items: center;
    gap: 6px;
    padding: 5px 10px;
}


.lang-menu:hover ul {

    display: block; /* separación desde arriba */

}


.lang-menu {
    
    color: #fff;
    position: absolute;
    top: 80px;   /* separación desde arriba */
    right: 15%;  /* margen relativo al ancho de la pantalla, separación desde la derecha */
    z-index: 1000; /* asegura que quede encima de todo */
    font-size: 20px;
    width: 170px;   

}






.lang-menu ul {

    border-radius: 2px;    
    background:transparent;    
    /* box-shadow: 0 0 1px 1px rgb(223, 205, 205);   https://css3generator.com/  para probar la sombra y otras cosas*/
    border: 2px solid rgba(232, 232, 236, 0.795);
    font-family: "Poppins", sans-serif; /* La primera tipografía es la que queremos y la segunda se aplica en caso de que la primera no funcione.*/
                                        /* La tipografía 'system-ui' es la del sistema operativo que tenga*/
    display: none;    

}


.lang-menu ul li {
    
    list-style: none; /* Le quita los puntos a la lista de banderas y palabras */
    width: 170px; /* El hancho del recuadro donde están las banderas y las palabras */
       
}





.lang-menu ul li a {    
    

    list-style: none;
    display: flex;            /* coloca imagen y texto en la misma fila */
    align-items: center;      /* los alinea verticalmente */
    gap: 6px;                 /* espacio entre la bandera y el texto */
    padding: 5px 10px;    
    color: #fff;             /* blanco de inicio. Utilizo esto porque con 'href=' cambia el color de las letras a azul, como si estuviera ya pulsado */
    text-decoration: none;     /* quita subrayado. Utilizo esto porque con 'href=' cambia el color de las letras a azul y aparece todo subrayado */


}




/* .lang-menu ul li a:hover ul -> Se activa cuando pasas el ratón sobre el <a>. Afecta al <ul> que está dentro del <a>. Es decir: hover en el padre (<a>), aplica estilo al hijo (<ul>).*/
/* .lang-menu ul li a:hover -> Se activa cuando pasas el ratón sobre el <a> mismo. El hover ya está ocurriendo directamente sobre el <a> */

.lang-menu ul li a:hover {

background-color: #f2f2f2;
color: #36409b;

}


.icon-small {

    width: 24px; 
    height: 24px; 
    filter: brightness(0) invert(1); 

}

.input-box {
    
    display: flex;           
    align-items: center;     
 
}

body {

    display: flex; 
    justify-content: center;
    align-items: center; 

    min-height: 100vh; background: url('../assets/images/green.jpg'); /* Sets an image located at 'Images/e.png' as the background. */
    
    background-size: cover;
    background-position: center; 
    
}

.wrapper {

    width: 455px; 
    background:transparent; 
    border: 2px solid rgba(244, 244, 253, 0.295); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color:white;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 0 10px;

}

.wrapper h1 {
    
    font-size: 36px; 
    text-align: center; 
    
}

.wrapper .input-box {

    position: relative; 
    width: 100%; 
    height: 50px; 
    margin: 30px 0; 

}

.input-box input {

    width: 100%; 
    height: 100%; 
    background: transparent; 
    outline: none; 
    border: 2px solid rgba(244, 244, 253, 0.363); /* This property adds a border to the input field that is 2 pixels wide, solid, and has a color defined by the RGBA value. The color is white with 20% opacity (0.2), which gives a subtle and elegant border effect. */ 
    border-radius: 40px; 
    font-size: 16px; 
    color: #fff; 
    padding: 20px 45px 20px 20px; 

}

.input-box input::placeholder {

    color: rgb(255, 255, 255); 
    opacity: 1; 
    
}
.input-box img {

    position:absolute; 
    right: 20px; 
    font-size: 20px; 

 }

 .wrapper .remember-forgot {

    display: flex; 
    justify-content: space-between; 
    font-size: 14.5px; 
    margin: 30px 0 30px; 

}

.remember-forgot label input {

    accent-color: #fff; 
    margin-right: 3px;
    
}

.wrapper .btn {

    width: 100%; 
    height: 45px; 
    background: #fff; 
    border: none; 
    outline: none; 
    border-radius: 40px; 
    box-shadow: 0 0 10px rgba(0,0,0,.1); 
    cursor: pointer; 
    font-size: 16px; 
    color: #333; 
    font-weight: 600; 
    
}

.wrapper .login-link {

    font-size: 14.5px; 
    text-align: center; 
    margin: 30px 0 20px;

}

.login-link p a {

    color: #fff; 
    text-decoration: none; 
    font-weight: 600;

}

.login-link p a:hover {
    
    text-decoration: underline; 

}

@media (max-width: 576px) {

    .input-box .input-field{
    
        width:100%;
        margin: 10px 0;
    
    }
    
    
}






.validation-icon {  
    
    position: absolute;
    bottom: 20px;       /* separación desde abajo */
    left: 20px;         /* separación desde la izquierda */   
    width: 88px;        /* ancho del icono */
    height: 31px;       /* alto del icono */

}
